:host {
  display: block;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.example-container {
  width: 100%; /* Set the width to 100% */
  height: 100%; /* Set the height to 100% */
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


/* THE ORIGINAL CODE FROM ANGULAR MATERIAL */
/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
} */


